<div>
  <h2>{{title}} Cinema</h2>
  <h4>Click on the movies to check the showtimes!</h4>

  <div>
    {{#each this.allMovies}}
      <img src="" alt="">
      <h6>{{this.name}}</h6>
      <p></p>
    {{/each}}  
  </div>
</div>