body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.container1 {
  margin: 0px;
  background-image: url("../images/cinema.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  padding-top: 90px; 
}

.container1 h1 {
  color: white;
  margin: 0px 10px 10px 850px;
  font-size: 8em;
}

.container1 button {
  background-color: white;
  color: rgba(122, 159, 173, 0.795);
  font-size: 30px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  margin-left: 850px;
  margin-top: 30px;
}

.movie-img {
    margin-left: 30px;
}
